## Idionamtic Python
- Tranformation into beautiful idiomatic code
- Replaces traditional Indiex manipulation with python cde looping idioms

In [1]:
#looping backwards
li=[1,2,3,4,5,6]
for i in range(len(li)-1,-1,-1):
    print(li[i],end='')
print()
#Python-ic way
for i in reversed(li):
    print(i,end=' ')

654321
6 5 4 3 2 1

In [3]:
#looping over the collection with index
li = [45,34,7,64,90]
for i,a in enumerate(li):
    print (i, "-->", a)

0 --> 45
1 --> 34
2 --> 7
3 --> 64
4 --> 90

In [7]:
li=[1,2,3,4,5,6]
li2 = [45,34,7,64,90]
n=min(len(li),len(li2))
for i in range(n):
    print(li[i], ' ',li2[i])
print()
for i,a in zip(li,li2):
    print(i,' ',a)

1   45
2   34
3   7
4   64
5   90

1   45
2   34
3   7
4   64
5   90

In [8]:
li=[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

com_list = [i ** 2 for i in range(

### use of lambda with filter

In [1]:
li = [1,2,3,4,5,6,7]
lam_li = list(filter(lambda x:(x%2 == 0),li))
print (lam_li)

[2, 4, 6]

In [2]:
x  = lambda x : x*x*x
print(x(3))

27

# Lambda with map
- map() fucntion in python takes in a function and list as an argument

In [3]:
def squarelist(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li = [1,2,3,4,5,6,7]
squarelist(li)

[2, 4, 6, 8, 10, 12, 14]

In [4]:
li = [1,2,3,4,5,6]
map_list = list(map(lambda x: x*2,li))
print (map_list)

[2, 4, 6, 8, 10, 12]

## Lambda with reduce()

In [6]:
def sumlist(li):
    s=0
    for i in li:
        s+=i
    return s
li = [1,2,3,4,5,6]
sumlist(li)

21

In [8]:
from functools import reduce
li = [1,2,3,4,5,6,7]
s = reduce((lambda x,y:x+y),li)
print (s)

28

# standard packages
## Pandos, Numpy and Matplotlib

In [11]:
import pandas as pd
internal1 = {'s1':35,'s2':35,'s3':35}
internal2 = {'s1':40,'s2':40,'s3':40}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2) #print in the form of series

s1    35
s2    35
s3    35
dtype: int64
s1    40
s2    40
s3    40
dtype: int64

In [13]:
final = {'Internal':internal1,'Internal2':internal2}
final = pd.DataFrame(final)
print(final)

    Internal  Internal2
s1        35         40
s2        35         40
s3        35         40

In [27]:
li1=[1,2,3]
li2=[4,5,6]
li3 = (map((lambda x,y:x+y),li1,li2))
print (list(li3))

[5, 7, 9]

In [28]:
final.values

array([[35, 40],
       [35, 40],
       [35, 40]], dtype=int64)

In [29]:
final.columns

Index(['Internal', 'Internal2'], dtype='object')

In [31]:
final.values[2][0]=350
final.values

array([[ 35,  40],
       [ 35,  40],
       [350,  40]], dtype=int64)

In [32]:
for row in final.values:
    print ('internal -', row[0], 'inrernal- ',row[1])

internal - 35 inrernal-  40
internal - 35 inrernal-  40
internal - 350 inrernal-  40

In [38]:
#final is the dataframe object
final.loc['s4']=[20,18]
final

    Internal  Internal2
s1        35         40
s2        10          5
s3       350         40
s4        20         18

In [36]:
pwd

'C:\\Users\\mgane\\Desktop\\problem solving'

In [64]:
filepath =  'C:\\Users\\mgane\\Desktop\\problem solving/Income.csv'
def reddata(filename):
    return pd.read_csv(filepath)
reddata(filepath)
df=reddata(filepath)
df.columns

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [41]:
df = reddata(filepath)
for row in df.values:
    print(row[1],' : ',row[-2])

Alabama  :  43464
Alaska  :  63648
Arizona  :  47044
Arkansas  :  39018
California  :  57020

In [49]:

df = reddata(filepath)
s = int(reduce((lambda x,y:x+y),df.values[4][2:]))
avg = s/len(df.values[4][2:])
print (int(avg))

55350

In [50]:
pwd

'C:\\Users\\mgane\\Desktop\\problem solving'

In [68]:
filepath1 = 'C:\\Users\\mgane\\Desktop\\problem solving/RegularSeasonCompactResults.csv'
def reddata1(filepath1):
    return pd.read_csv(filepath1)

df =reddata1(filepath1)
df.head()
df.tail()
df.shape

(145289, 8)

In [62]:
df.columns.tolist()
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [70]:
df.max() #max value of each column
df['Lteam'].max()

1464

In [71]:
df['Lteam'].min()

1101

In [72]:
df['Lteam'].sum()

186386037

In [73]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

In [77]:
df[(df['Daynum']>60)& (df['Wscore']>170)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
24970    1991      68   1258     186   1109     140    H      0

In [79]:
list(map(lambda x: x**-1, [1, 2, 3]))

[1.0, 0.5, 0.3333333333333333]